.button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.login {
    background: #78D98F;
    color: white;
}

.logout {
    background-color: red;
    color: white;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 12px;
        width: 120px;
        height: 30px;
    }
}