.search,
.salary,
.category {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

.yourSalary,
.addACategory,
.donutChart {
    margin-top: 100px;
}

.expensesPageDiv {
    padding: 30px;
    box-sizing: border-box;
}

.add,
.addAnExpense {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
    background-color: #78D98F;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.addAnExpense {
    width: 150px;
    height: 35px;
}

.categoryDiv,
.total {
    margin-top: 70px;
}

.oneCategory {
    border: 1px solid #BCBCBC;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
}

.descriptionInput,
.expenseInput,
.dateInput {
    padding: 10px;
    width: 300px;
    resize: none;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.oneExpense,
.categoryTotal,
.expenseForm {
    margin-top: 50px;
}

.date {
    color: #BCBCBC;
}

.expenseAmmount {
    color: red;
}

.dateAndClose {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.categoryClose {
    position: absolute;
    right: 20px;
    top: 20px;
}