.search,
.salary,
.category {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

.yourSalary,
.addACategory,
.totalChart,
.donutChart {
    margin-top: 100px;
}

.add {
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 15px;
    background-color: #78D98F;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.categoryDiv {
    margin-top: 70px;
}