@font-face {
    font-family: LexendExtraBold;
    src: url("../../assets/fonts/Lexend-ExtraBold.ttf");
}

@font-face {
    font-family: LexendBold;
    src: url("../../assets/fonts/Lexend-Bold.ttf");
}

.homepage {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.homePageImage {
    width: 50%;
    object-fit: cover;
}

.homePageContent {
    padding: 0 15px 20px 0;
    width: 50%;
}

.homePageContent h1 {
    font-family: LexendExtraBold;
    font-size: 40px;
    font-weight: 800;
}

.homePageContent p {
    font-weight: 400;
}

.homePageContentInfo {
    margin-top: 150px;
}

.homePageContentInfo h2 {
    font-family: LexendBold;
    font-size: 25px;
}

.homePageContentInfo ul {
    padding-left: 10px;
}

.homePageContentInfo ul li {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .homepage {
        display: block;
    }

    .homePageContent,
    .homePageImage {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .homepage {
        padding: 15px;
    }
}