.homepage {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.homePageImage {
    width: 50%;
    object-fit: cover;
}

.homePageContent {
    padding: 0 15px 20px 0;
    width: 50%;
    text-align: left;
}

.homePageContent p {
    font-weight: 400;
}

.homePageContentInfo {
    margin-top: 150px;
}

.homePageContentInfo ul {
    padding-left: 10px;
}

.homePageContentInfo ul li {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .homepage {
        display: block;
    }

    .homePageContent,
    .homePageImage {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .homepage {
        padding: 15px;
    }
}