.navbar {
    background-color: #78D98F;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar-links a {
    margin: 0 20px 0 20px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navbar-links a.active {
    color: green;
}

@media screen and (max-width: 310px) {
    .navbar-links a {
        font-size: 13px;
    }
}