.navbar {
    background-color: #78D98F;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
}

.navbar-links a {
    margin: 0 20px 0 20px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.navbar-links a.active {
    color: white;
}

@media screen and (max-width: 620px) {
    .navbar-links a {
        margin: 0 10px 0 10px;
    }
}
