@font-face {
    font-family: LexendExtraBold;
    src: url("./fonts/Lexend-ExtraBold.ttf");
}

@font-face {
    font-family: LexendBold;
    src: url("./fonts/Lexend-Bold.ttf");
}

@font-face {
    font-family: LexendLight;
    src: url("./fonts/Lexend-Light.ttf");
}

.main-header {
    font-family: LexendExtraBold;
    font-size: 30px;
    font-weight: 800;
}

.second-header {
    font-family: LexendBold;
    font-size: 25px;
    font-weight: 700;
}

.input-light {
    font-family: LexendLight;
    font-size: 15px;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .main-header {
        font-size: 25px;
    }
    .second-header {
        font-size: 20px;
    }
    .input-light {
        font-size: 12px;
    }
}