@font-face {
    font-family: LexendExtraBold;
    src: url("../../assets/fonts/Lexend-ExtraBold.ttf");
}

@font-face {
    font-family: LexendLight;
    src: url("../../assets/fonts/Lexend-Light.ttf");
}

.loginHeader,
.logoutHeader {
    color: #000;
    font-family: LexendExtraBold;
    font-size: 30px;
    font-weight: 800;
    margin-top: 50px;
}

.loginForm {
    margin-top: 70px;
}

.username {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
    font-family: LexendLight;
}

.logIn,
.logOut {
    width: 150px;
    height: 35px;
    margin-top: 15px;
    border-radius: 10px;
    background: #78D98F;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}