body {
    text-align: center;
}

@font-face {
    font-family: LexendRegular;
    src: url("./assets/fonts/Lexend-Regular.ttf");
}

.App {
    font-family: LexendRegular;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .App {
        font-size: 12px;
    }
}